<p>add works!</p>


<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Nueva personas </h3>
        </div>
        <div class="card-body">


<form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="persona.nombre"   name="nombre"    >
    </div>

    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control"  [(ngModel)]="persona.apellido"  name="apellido">
    </div>

</form>

<div class="form-group">
    <button class="btn btn-primary"  (click)="guardar()"  >Guardar</button>
</div>



        </div>
    </div>
</div>